h1 {
	font-size: 45px;
	margin-bottom: 40px;
}

body {
	background-color: #53B7DE;
	color: #FFF;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
	font-family: 'Pangolin', cursive, Arial, Helvetica, sans-serif;
}

.icon {
	font-size: 40px;
}

.btn {
	cursor: pointer;
	font-size: 15px;
	margin-top: 15px;
	background-color: #50ADD2;
	color: #FFF;
	border-color: #FFF;
	padding: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.footer {
	font-size: 14px;
	margin-top: 80px;
}